.App{
  position: relative;
  min-height: 100vh;
}
#header{
  position: sticky;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: antiquewhite;
}


#footer{
  position: absolute;
  height: 50px;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #333;
}